section{
  border: 1px dashed rgb(13, 219, 246);
}
div{
  border: 1px dashed black;
}
.container1{
  border: 1px dashed red;
  margin: 1rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(min(100%,28rem),1fr));
  grid-auto-rows: 22rem;
}
.tittle{
  width: 100%;
  margin: 0;
}
.stars{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dashed rgb(0, 255, 76);
}
.rate{
  padding: 2rem;
  text-align: center;
}
h1{
margin-right: 40%;
}
p{
  margin-right: 30%;
}
/*-----------------------------------------------------------------*/
.container2{
  border: 1px dashed red;
  margin: 1rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));

}
.container_data{
  margin: 0.5rem;
  display: flex;
}
.container_text{
  margin: 0.5rem;
}



/*-----------------------------------------------------------------*/
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }